{% extends "base.html" %}
{% block content %}

<div class="box">
    <h2>About Pocket Mechanic:</h2>
    <p>Pocket Mechanic is a simple and organized way to manage your vehicles. It lets you store details about your
        cars, bikes, or any vehicle, and keep track of maintenance, accessories, and modifications in one place.</p>
    <p>Our goal is to make it easier for drivers and car enthusiasts to stay on top of their vehicle's history
        without relying on messy notes or random files.</p>
</div>

{% endblock %}
