{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Mechanic</title>

    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" href="{% static 'saved.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="{% url 'home' %}">Pocket Mechanic</a></div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'saved' %}">SavedItems</a></li>
            </ul>
        </div>
    </nav>
    
     <script src="{% static 'saved.js' %}"></script>

    {% block content %}{% endblock %}
</body>

</html>
