.auth-form input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: #2b3239;
    color: white;
    font-size: 16px;
}

.auth-form input:focus {
    outline: 2px solid #00a8ff;
}

.auth-switch {
    margin-top: 18px;
    color: white;
    font-size: 15px;
}

.auth-switch a {
    color: #00a8ff;
    font-weight: 600;
    text-decoration: underline;
}

.auth-switch a:hover {
    color: #33b4ff;
}

.auth-form label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    color: white;
}

.helptext, .helptext ul li {
    background: #2b3239;
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 20px;
    margin: 8px 0;
    list-style: none;
    width: fit-content;
    max-width: 100%;
}

.helptext ul {
    margin: 0;
    padding-left: 0;
}


.auth-form label {
    margin-top: 20px;
    margin-bottom: 6px;
}

.primary-btn {
    margin-top: 20px;
}

.auth-form .helptext {
    margin-bottom: 12px;
}
