.category-columns
{
    display: block;
    gap: 20px;
    justify-content: space-between;
}

.category-box
{
    flex: 1;
    background: #1c2126;
    padding: 15px;
    border-radius: 10px;
}

.category-box h2
{
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    color: #00a8ff;
}

.part-card
{
    background: #20262b;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.part-actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.badge
{
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 6px;
    margin-right: 5px;
}

.delete-btn
{
    background: red;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.1s ease, transform 0.1s ease
}

.delete-btn:hover
{
    transform: scale(1.05);
    background: #a30000;
}

a.part-link
{
    display: inline-block;
    background: cyan;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.1s ease, transform 0.1s ease;
}

.part-card a.part-link,
.part-link
{
    display: inline-block;
    background: rgb(0, 194, 74);
    color: black;
    text-decoration: none;
    border: none;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.1s ease, transform 0.1s ease;
}

.part-card a.part-link:hover,
.part-link:hover
{
    transform: scale(1.05);
    background: #096d00;
}